<form [formGroup]="form" (ngSubmit)="onSubmit()" class="rounded-xl bg-white p-6 shadow space-y-4">
  <h2 class="text-lg font-semibold text-slate-900">
    {{ claseSeleccionada ? 'Editar clase' : 'Crear clase' }}
  </h2>

  <input
    class="w-full rounded-lg border px-4 py-2"
    placeholder="Nombre"
    formControlName="nombre"
  />

  <input
    class="w-full rounded-lg border px-4 py-2"
    placeholder="Descripción"
    formControlName="descripcion"
  />

  <input
    class="w-full rounded-lg border px-4 py-2"
    placeholder="Trainer"
    formControlName="trainer"
  />

  <input
    class="w-full rounded-lg border px-4 py-2"
    placeholder="Cupos"
    type="number"
    formControlName="cupos"
  />

  <div class="flex gap-2">
    <button
      type="submit"
      class="rounded-lg bg-slate-900 px-4 py-2 font-semibold text-white hover:bg-slate-800"
    >
      {{ claseSeleccionada ? 'Actualizar clase' : 'Guardar clase' }}
    </button>

    @if (claseSeleccionada) {
      <button
        type="button"
        (click)="cancelar()"
        class="rounded-lg bg-slate-200 px-4 py-2 font-semibold text-slate-700 hover:bg-slate-300"
      >
        Cancelar
      </button>
    }
  </div>
</form>